
.navBar{
    position: fixed;
    z-index: -1;
    background-color: #103C5F;
    top: 0;
    left: 0;
    width:100%;
    margin: 0;
    height: 100%;
}

.logo{
    position: relative;
    left: 0;
    height: 75px;
    width: 225px; 
    background-image: url("./logo.svg");
    background-repeat: no-repeat;
}

.backing{
    border: 1px solid white;
    background-image: url("./Students.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    position: fixed;
    margin-top: 0;
    width: 99%;
    height: 82%;
}

.bottomBar{
    background-color: rbga(16,60,95,100);
    z-index: 2;
    width: 24.5%;
    position: fixed;
    bottom: 0;
    margin-bottom: .9%;
    left: 35%;
    text-align: center;
}

.regi{
    background-color:rgba(255, 255, 255, 0.7);
    position: fixed;
    left: 85%;
    top: 20%;
    z-index: 15;
    margin-right: 50px;
    padding-top: .9%;
    padding-bottom: .9%;
    font-size: 30px;
    color: white;
}

a{
    margin-left: 5%;
    color: white;
}

a:hover{
    color:blue;
    cursor: pointer;
}

.login{
    position: relative;
    margin-top: 10%;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: .0%;
    text-align: center;
    background-color: #103C5F;
}


.regis{
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 5%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.0);
    color: Black;
}

.faculty{
    margin-bottom: 2%;
    position: relative;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    background-color: #103C5F;
}

.student{
    margin-bottom: 2%;
    position: relative;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    background-color: #103C5F;
}

.employer{
    position: relative;
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    background-color: #103C5F;
}