div{
    left: 0;
    margin: 5px;
    
}
body{
    background-color: #103C5F;
}

.navBar{
    position: fixed;
    z-index: -1;
    overflow: hidden;
    background-color: #103C5F;
    top: 0;
    width: 99%;
    height: 98%;
}

.logo{
    position: relative;
    left: 0;
    height: 75px;
    width: 225px; 
    background-image: url("./logo.svg");
    background-repeat: no-repeat;
}

.backing{
    border: 1px solid white;
    background-image: url("./Students.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1;
    position: fixed;
    margin-top: 0;
    width: 99%;
    height: 82%;
}

.bottomBar{
    background-color: #103C5F;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-bottom: .9%;
    text-align: center;
}

.regi{
    background-color:rgba(255, 255, 255, 0.7);
    position: fixed;
    left: 75%;
    top: 20%;
    z-index: 15;
    padding-top: .9%;
    padding-bottom: .9%;
    font-size: 30px;
    color: white;
}

a{
    margin-left: 5%;
    color: white;
}

.login{
    margin-top: 10%;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #103C5F;
}

div.login:hover{
    color: blue;
    cursor: pointer;
}

.regis{
    margin-bottom: 15px;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.0);
    color: Black;
}

.faculty{
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    background-color: #103C5F;
}

div.faculty:hover{
    color: blue;
    cursor: pointer;
}
.student{
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    background-color: #103C5F;
}

div.student:hover{
    color: blue;
    cursor: pointer;
}

.employer{
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;
    background-color: #103C5F;
}

div.employer:hover{
    color: blue;
    cursor: pointer;
}

