a{
    color: blue;
}
a:visited{
    text-decoration: none;
    color: blue;
}

.logger{
    border: 2px solid black;
    text-align: center;
    display: grid;
    row-gap: 10px;
    margin-top:15%;
    margin-left: 35%;
    padding: 1%;
    width: 25%;
    height: 45%;
}

#creds{
    display: grid;
    row-gap: 5%;
    grid-row: 50% 50%;
}
 #creds button{
    position: relative;
    width: 25%;
    left: 37%;
 }
