.regiForm{
    overflow: hidden;
    border: 2px solid black;
    text-align: center;
    display: grid;
    row-gap: 10px;
    margin-top:5%;
    margin-left: 35%;
    padding: 1%;
    width: 25%;
    height: 45%;
}
.regiForm button{
    overflow: hidden;
    position: relative;
    width: 25%;
    left: 40%;
}