{% extends 'template.html' %}
{% block style %}
<style>
    a {
        text-decoration: none;
    }

    .bg-faded {
        background-color: #103C5F;
    }

    .collapse .nav-link {
        color: white;
        margin: 1%;
        border: 1px solid black;
    }

    h1 {
        font-size: 1500%;
    }
</style>
{% endblock %}

{% block content %}
<div style="text-align: center">
    <h1>500<h1>
</div><br />
<div style="text-align: center">
    <font size="6">Internal Server Error</font>
</div>
<div style="text-align: center">
    <font size="6">Please allow some time for the error to resolve and refresh</font>
</div>
{% endblock %}