{% extends "template.html" %}

{% block title%}
{{title}}
{% endblock %}

{% block style %}
<style>
    body {
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }

    span {
        background-color: rgba(247, 97, 97, 0.555);
    }

    .container {
        background-color: #fff;
        width: 95%;
    }
</style>
{% endblock %}

{% block content %}
<div class="container h-100 mt-4 pt-4">
    <div class="col-md-6">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">All Users Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="student-tab" data-toggle="tab" href="#student" role="tab" aria-controls="student"
                    aria-selected="false">Student Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="sposnor-tab" data-toggle="tab" href="#sponsor" role="tab" aria-controls="sponsor"
                    aria-selected="false">Sponsor Table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="faculty-tab" data-toggle="tab" href="#faculty" role="tab" aria-controls="faculty"
                    aria-selected="false">Faculty Table</a>
            </li>
        </ul>
    </div>
    <div class="tab-content profile-tab" id='myTabContent'>
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <table class="table table-striped table-hover" id="postings">
                <thead class="thead-dark">
                    <tr>
                        <th>User ID</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Name</th>
                        <th>Last Loging</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users%}
                    <tr>
                        <td>{{user[0]}}</td>
                        <td><a href="{{ url_for('profile',user_id=user[0]) }}">{{user[1]}}</a></td>
                        <td>{{user[3]}}</td>
                        <td>{{user[4]}}</td>
                        <td>{{user[5]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="student" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table">
                <table class="table table-sm table-bordered table-hover table-striped" id="postings">
                    <thead class="thead-dark">
                        <tr>
                            <th>User ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Title</th>
                            <th>Major</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Verified</th>
                            <th>Graduation Date</th>
                            <th>GPA</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students%}
                        <tr>
                            <td>{{student[0]}}</td>
                            <td><a href="{{ url_for('profile',user_id=student[0]) }}">{{student[1]}}</a></td>
                            <td>{{student[2]}}</td>
                            <td>{{student[3]}}</td>
                            <td>{{student[4]}}</td>
                            <td>{{student[5]}}</td>
                            <td>{{student[8]}}</td>
                            <td>{{student[9]}}</td>
                            <td>{%if student[11] == None%}No{%else%}Yes{%endif%}</td>
                            <td>{{student[14]}}</td>
                            <td>{{student[15]}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </table>
        </div>
        <div class="tab-pane fade" id="sponsor" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table">
                <table class="table table-sm table-bordered table-hover table-striped" id="postings">
                    <thead class="thead-dark">
                        <tr>
                            <th>User ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Title</th>
                            <th>Company</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Verified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for sponsor in sponsors%}
                        <tr>
                            <td>{{sponsor[0]}}</td>
                            <td><a href="{{ url_for('profile',user_id=sponsor[0]) }}">{{sponsor[1]}}</a></td>
                            <td>{{sponsor[2]}}</td>
                            <td>{{sponsor[3]}}</td>
                            <td>{{sponsor[4]}}</td>
                            <td>{{sponsor[5]}}</td>
                            <td>{{sponsor[8]}}</td>
                            <td>{{sponsor[9]}}</td>
                            <td>{%if sponsor[11] == None%}No{%else%}Yes{%endif%}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </table>
        </div>
        <div class="tab-pane fade" id="faculty" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table">
                <table class="table table-sm table-bordered table-hover table-striped" id="postings">
                    <thead class="thead-dark">
                        <tr>
                            <th>User ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Title</th>
                            <th>Department</th>
                            <th>Address</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Verified</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for faculty in facultyM%}
                        <tr>
                            <td>{{faculty[0]}}</td>
                            <td><a href="{{ url_for('profile',user_id=faculty[0]) }}">{{faculty[1]}}</a></td>
                            <td>{{faculty[2]}}</td>
                            <td>{{faculty[3]}}</td>
                            <td>{{faculty[4]}}</td>
                            <td>{{faculty[5]}}</td>
                            <td>{{faculty[8]}}</td>
                            <td>{{faculty[9]}}</td>
                            <td>{%if faculty[11] == None%}No{%else%}Yes{%endif%}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </table>
        </div>
    </div>
</div>
{% endblock %}