{% extends "template.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block style%}
<link rel="stylesheet" href="../static/dashboard.css">
{% endblock %}

{% block content %}
<div class="body">
    <div class="image">
        Profile Photo
        <h1>{{username}}</h1>
    </div>
    <div class="about">
        <h3>About</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim temporibus dignissimos totam minima a
            consequuntur illum nostrum corporis atque accusantium, sunt animi pariatur. Temporibus molestiae
            necessitatibus
            quam molestias commodi minima similique unde et facilis animi soluta, deserunt at, architecto dicta dolorum
            quasi
            error. Fuga voluptate officiis architecto cum exercitationem quos autem distinctio sunt esse dolore,
            deleniti
            fugit
            reprehenderit animi sequi molestias blanditiis quo placeat qui quod in quam natus consectetur provident
            incidunt!
            Necessitatibus molestiae asperiores ut quam nemo totam repellat explicabo neque? Obcaecati magnam,
            perferendis
            placeat tenetur voluptate corrupti autem? Itaque dicta ad eligendi ab aperiam, ratione incidunt qui, dolore
            ut
            eos
            aut officia odit impedit modi inventore iure ipsum vero, error sed animi repellendus praesentium.
            Explicabo,
            corporis! Accusantium, perferendis. Ea, iste? Non suscipit minima facere veritatis? Doloribus animi, autem
            in,
            amet
            placeat earum eaque magni sunt laborum tempore accusamus rerum, officia fuga deserunt quae quasi
            blanditiis?
            Quaerat ea accusantium qui iure atque, voluptatum magni hic ducimus quasi dolor laboriosam corrupti tempora
            sunt
            quas necessitatibus minus facilis fuga placeat laborum officia architecto. Sapiente voluptates nulla
            assumenda
            autem repellat ab animi ea fuga, inventore sequi sint, quos praesentium dolorum ratione totam libero ipsa
            iste.
            Enim reprehenderit quam laudantium nobis cum consequatur quod possimus. Sapiente nisi consequatur enim
            officiis,
            voluptas iusto quaerat incidunt repellat aperiam inventore ipsum dolorem sunt excepturi eos quas sed ea,
            eligendi
            odio recusandae at possimus consequuntur quis? Nam dolor corporis dolore. Cum quam molestias natus
            perspiciatis
            excepturi, praesentium pariatur itaque sapiente et reiciendis ut ab quae magni minus eveniet nisi magnam
            optio,
            inventore unde labore debitis? Eum dolor aperiam qui velit ullam accusantium rem dicta maxime totam,
            voluptate
            repellendus possimus dignissimos esse. Suscipit libero, velit unde ullam fuga pariatur hic placeat
            asperiores
            vel
            nam impedit enim. Explicabo nulla cumque vel reiciendis pariatur repellendus tenetur eius sit est deleniti
            ex,
            laboriosam placeat quos illo numquam itaque quam voluptate? Quas aliquid deleniti asperiores perferendis
            laboriosam
            dolore, laborum doloremque quae, nemo libero iure aspernatur repellendus expedita, consequatur praesentium?
            Asperiores eveniet fugiat esse, doloribus corporis voluptatibus eaque aperiam tenetur praesentium
            repudiandae
            ut
            quidem enim deserunt voluptates assumenda reprehenderit doloremque perferendis in laborum dolor ducimus
            sunt!
            Nobis
            veritatis fuga explicabo omnis nostrum laborum necessitatibus beatae, molestias eos qui reprehenderit est
            nam
            hic
            repellat placeat ea amet quaerat quidem dolores, sit iste! Dicta, cumque aliquam quaerat expedita ratione
            perspiciatis nulla minus tenetur accusantium dolores commodi doloremque ab modi illum illo ipsum adipisci
            assumenda
            culpa laborum similique autem optio labore a. Dolorum ea cum reiciendis consectetur necessitatibus laborum
            accusamus eum. Dolorem quas, facilis non expedita velit, tempore necessitatibus qui mollitia eveniet magni
            animi
            quidem nisi recusandae nesciunt harum voluptates culpa veniam asperiores quaerat ducimus minima possimus.
            Laudantium, quia cum perferendis ex culpa, obcaecati sunt necessitatibus consequatur quod, nisi quidem
            pariatur
            voluptatibus vero nobis. Aspernatur dolores reprehenderit incidunt perferendis perspiciatis accusantium
            eveniet
            tempora velit, fugit cum culpa, alias animi id vero explicabo ipsum sit? Asperiores placeat corporis soluta
            inventore fugit dolores adipisci, recusandae ratione quaerat odit voluptatem quasi. Totam excepturi
            blanditiis,
            aliquid minima adipisci optio debitis!</p>
    </div>
    <span><a href="#">Resume</a></span>
</div>
{% endblock %}