{% extends 'template.html'%}
{%block title%} {{title}}{%endblock%}

{%block style%}
<style>
    body {
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    }

    a {
        color: white;
        text-decoration: none;
    }

    li {
        margin: 5%
    }

    #side-menu {
        position: fixed;
        width: 10%;
        height: 86%;
        background-color: rgba(131, 127, 127, 0.582);
        border-radius: 5%;
    }
</style>
{% endblock %}
{%block content%}
<div class="mr-2">
    <ul class="nav nav-pills flex-column mt-2" id="side-menu">
        <li class="nav-item">
            <a class="nav-link active" href="#">Item 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Item 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Item 3</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Item 4</a>
        </li>
    </ul>
</div>
{% endblock %}