{% extends 'template.html'%}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="content-section text-center jumbotron">
<form action="" method="POST">
        {{ form.hidden_tag() }}
<legend class="border-bottom mb-4 text-center">Edit Profile</legend>
<div class="form-group">
    <b>{{ form.first_name.label(class="form-control-label mr-4") }}</b>
    {% if form.first_name.errors %}
    <b>{{ form.first_name(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.first_name.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.first_name(class="form-control-sm") }}</b>
    {% endif %}
</div>

<div class="form-group">
    <b>{{ form.last_name.label(class="form-control-label mr-4 ml-1") }}</b>
    {% if form.last_name.errors %}
    <b>{{ form.last_name(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.last_name.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.last_name(class="form-control-sm") }}</b>
    {% endif %}
</div>

<div class="form-group">
    <b>{{ form.user_title.label(class="form-control-label mr-4 ml-5") }}</b>
    {% if form.user_title.errors %}
    <b>{{ form.user_title(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.user_title.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.user_title(class="form-control-sm") }}</b>
    {% endif %}
</div>

<div class="form-group">
    <b>{{ form.major.label(class="form-control-label mr-2 ml-5") }}</b>
    {% if form.major.errors %}
    <b>{{ form.major(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.major.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.major(class="form-control-sm") }}</b>
    {% endif %}
</div>

<div class="form-group">
    <b>{{ form.grad_date.label(class="form-control-label mr--5 ml--5") }}</b>
    {% if form.grad_date.errors %}
    <b>{{ form.grad_date(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.grad_date.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.grad_date(class="form-control-sm mr-4") }}</b>
    {% endif %}
</div>

<div class="form-group">
    <b>{{ form.gpa.label(class="form-control-label mr-5 ml-4") }}</b>
    {% if form.gpa.errors %}
    <b>{{ form.gpa(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.gpa.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.gpa(class="form-control-sm") }}</b>
    {% endif %}
</div>

<div class="form-group">
    <b>{{ form.location.label(class="form-control-label mr-4 ml-3") }}</b>
    {% if form.location.errors %}
    <b>{{ form.location(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.location.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.location(class="form-control-sm") }}</b>
    {% endif %}
</div>

<div class="form-group">
    <b>{{ form.about.label(class="form-control-label mr-4 ml-3") }}</b>
    {% if form.about.errors %}
    <b>{{ form.about(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.about.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.about(class="form-control-sm") }}</b>
    {% endif %}
</div>

<div class="form-group">
    <b>{{ form.skills.label(class="form-control-label mr-1 ml-5") }}</b>
    {% if form.skills.errors %}
    <b>{{ form.skills(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.skills.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.skills(class="form-control-sm") }}</b>
    {% endif %}
</div>

<div class="form-group">
    <b>{{ form.education.label(class="form-control-label mr-3 ml--2") }}</b>
    {% if form.education.errors %}
    <b>{{ form.education(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.education.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.education(class="form-control-sm") }}</b>
    {% endif %}
</div>

<div class="form-group">
        <b>{{ form.url.label(class="form-control-label mr-5 ml-4") }}</b>
        {% if form.url.errors %}
        <b>{{ form.url(class="form-control-sm is-invalid") }}</b>
        <div class="invalid-feedback">
            {% for error in form.url.errors%}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        <b>{{ form.url(class="form-control-sm") }}</b>
        {% endif %}
</div>

<div class="form-group">
        <b>{{ form.alias.label(class="form-control-label mr-3 ml-3") }}</b>
        {% if form.alias.errors %}
        <b>{{ form.alias(class="form-control-sm is-invalid") }}</b>
        <div class="invalid-feedback">
            {% for error in form.alias.errors%}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        <b>{{ form.alias(class="form-control-sm") }}</b>
        {% endif %}
</div>

<div class="form-group">
    <b>{{ form.private.label(class="form-control-label mr-2 ml-1") }}</b>
    {% if form.private.errors %}
    <b>{{ form.private(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.private.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.private(class="form-control-sm") }}</b>
    {% endif %}
</div>

<div class="form-group">
    {{ form.submit(class='btn btn-outline-info')}}
</div>
</div>
</form>
{% endblock %}