{% extends 'template.html'%}

{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="content-section text-center jumbotron">
<form action="" method="POST">
        {{ form.hidden_tag() }}
<legend class="border-bottom mb-4 text-center">Edit Profile</legend>
<div class="form-group">
    <b>{{ form.first_name.label(class="form-control-label mr-4") }}</b>
    {% if form.first_name.errors %}
    <b>{{ form.first_name(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.first_name.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.first_name(class="form-control-sm") }}</b>
    {% endif %}
</div>

<div class="form-group">
    <b>{{ form.last_name.label(class="form-control-label mr-4 ml-1") }}</b>
    {% if form.last_name.errors %}
    <b>{{ form.last_name(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.last_name.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.last_name(class="form-control-sm") }}</b>
    {% endif %}
</div>

<div class="form-group">
    <b>{{ form.user_title.label(class="form-control-label mr-4 ml-5") }}</b>
    {% if form.user_title.errors %}
    <b>{{ form.user_title(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.user_title.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.user_title(class="form-control-sm") }}</b>
    {% endif %}
</div>



<div class="form-group">
    <b>{{ form.location.label(class="form-control-label mr-4 ml-3") }}</b>
    {% if form.location.errors %}
    <b>{{ form.location(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.location.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.location(class="form-control-sm") }}</b>
    {% endif %}
</div>

<div class="form-group">
    <b>{{ form.about.label(class="form-control-label mr-4 ml-3") }}</b>
    {% if form.about.errors %}
    <b>{{ form.about(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.about.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.about(class="form-control-sm") }}</b>
    {% endif %}
</div>
<div class="form-group">
        <b>{{ form.mainExercise.label(class="form-control-label mr-4 ml-3") }}</b>
        {% if form.mainExercise.errors %}
        <b>{{ form.mainExercise(class="form-control-sm is-invalid") }}</b>
        <div class="invalid-feedback">
            {% for error in form.mainExercise.errors%}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        <b>{{ form.mainExercise(class="form-control-sm") }}</b>
        {% endif %}
</div>
<div class="form-group">
        <b>{{ form.goalWeight.label(class="form-control-label mr-4 ml-3") }}</b>
        {% if form.goalWeight.errors %}
        <b>{{ form.goalWeight(class="form-control-sm is-invalid") }}</b>
        <div class="invalid-feedback">
            {% for error in form.goalWeight.errors%}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        <b>{{ form.goalWeight(class="form-control-sm") }}</b>
        {% endif %}
</div>

<div class="form-group">
    <b>{{ form.workoutOne.label(class="form-control-label mr-4 ml-3") }}</b>
    {% if form.workoutOne.errors %}
    <b>{{ form.workoutOne(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.workoutOne.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.workoutOne(class="form-control-sm") }}</b>
    {% endif %}
</div>
<div class="form-group">
    <b>{{ form.workoutTwo.label(class="form-control-label mr-4 ml-3") }}</b>
    {% if form.workoutTwo.errors %}
    <b>{{ form.workoutTwo(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.workoutTwo.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.workoutTwo(class="form-control-sm") }}</b>
    {% endif %}
</div>
<div class="form-group">
    <b>{{ form.workoutThree.label(class="form-control-label mr-4 ml-3") }}</b>
    {% if form.workoutThree.errors %}
    <b>{{ form.workoutThree(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.workoutThree.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.workoutThree(class="form-control-sm") }}</b>
    {% endif %}
</div>
<div class="form-group">
        <b>{{ form.url.label(class="form-control-label mr-5 ml-4") }}</b>
        {% if form.url.errors %}
        <b>{{ form.url(class="form-control-sm is-invalid") }}</b>
        <div class="invalid-feedback">
            {% for error in form.url.errors%}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% else %}
        <b>{{ form.url(class="form-control-sm") }}</b>
        {% endif %}
</div>

<div class="form-group">
    <b>{{ form.private.label(class="form-control-label mr-2 ml-1") }}</b>
    {% if form.private.errors %}
    <b>{{ form.private(class="form-control-sm is-invalid") }}</b>
    <div class="invalid-feedback">
        {% for error in form.private.errors%}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    {% else %}
    <b>{{ form.private(class="form-control-sm") }}</b>
    {% endif %}
</div>
<div class="form-group">
    {{ form.submit(class='btn btn-outline-info')}}
</div>
</div>
</form>
{% endblock %}