{% extends "template.html" %}

{% block title %}
{{title}}
{% endblock %}
{% block content %}
<ul class="nav nav-tabs nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#home" data-toggle="tab">Help</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#reg" data-toggle="tab">Registration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#profile" data-toggle="tab">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#search" data-toggle="tab">Search</a>
    </li>
  </ul>

<div class="tab-content">
  <div class='tab-pane active' id='home'>
  <p>Welcome to InternREQ! We hope you enjoy our website. If you're having trouble getting started, below we walk through
  the first steps from creating an account to
  editing your profile to posting an internship. If your problem is not satisfied by the questions below, please
  contact us at <a>this hyperlink</a> detailing the issue
  and we will get back to you promptly.</p>
  </div>

<div id='reg' class='tab-pane fade'>
<h5>How do I register?</h5>
<p>Toward the right side of the landing page, there is a box that contains the Login and Registration buttons(Figure 1)<figure>><img src='https://puu.sh/CadUd/b84f812e9b.png'><figcaption>Fig. 1</figcaption></figure></p>
<p>The buttons under the Registration heading labeled Faculty, Student and Employer will redirect you to the
registration page. If you're having trouble finding the buttons
or they appear to not be functioning, you can also reach the registration page by clicking this hyperlink <a style="color:blue"
href="{{url_for('registration')}}">Registration</a></p>
<p>To know if you are on the right page, compate your screen to Figure 2. <figure><img src='https://puu.sh/CaegF/b8e822e6b5.png'><figcaption>Fig. 2</figcaption></figure></p>
<p>All users will enter their First Name and Last Name into the relevant fields. Then comes a very important option,
the Account Type selector. <img src='https://puu.sh/Caejy/4671c5609d.png'></p>
<p>Clicking the drop down arrow will allow you to select whether you are creating a Student, Employer or Faculty
account. Here you pick the option corresponding to the account you're looking to create</p>
<p>For the sake of our tutorial, we are going to create a Student named Joe Green. Continue to fill the forms and when
you're finished, review the information before submition.
<b>NOTE: For Student accounts, the email must be a SouthernCT email address. </b>See Figure 3 for an example <figure><img src='https://puu.sh/Caerm/77fbab61d6.png'><figcaption>Fig. 3</figcaption></figure></p>
<p>After you have finished entering your information, push the 'Submit' button at the bottom of the page.</p>
<p>Upon successful submission, the following should appear on your screen(Figure 4).
<figure><img src='https://puu.sh/CcVlF/5d14262fc5.png'><figcaption>Fig. 4</figcaption></figure>
</p>
</div>
<div id='dashboard' class='tab-pane fade'>
<h5>The Dashboard</h5>
</div>
<div id='profile' class='tab-pane fade'>
<h5>How do I navigate to my profile?</h5>
Upon being brought to the dashboard, click on the 'Links' button on the navbar to show what pages are available to you. <img src='https://puu.sh/CcW4q/aa434e3684.png'>
<p>Clicking on the 'Profile' link, you will be brought to your profile page which will display information pertaining to your account. Figure 1 shows an example. <figure><img src='https://puu.sh/CcW6t/a8d89aac8a.png'><figcaption>Fig. 1</figcaption></figure></p>
<h5>How do I edit my profile?</h5>
<p>Once you are on your profile page, there will be an 'Edit Profile' button in the top right corner. <img src='https://puu.sh/CcWbb/8fb94a2cc2.png'></p>
<p>Clicking this button will bring you to the Edit Profile page with relevant fields filled with your current information(See Figure 2) <figure><img src='https://puu.sh/CcWcX/e50bb6658e.png'><figcaption>Fig. 2</figcaption></figure></p>
<p>This is where you may go and fill in information pertaining to your user role. As the account used for this FAQ is a student account, these fields are what students will see.</p>
<p>Once you have properly filled out the corresponding fields, you can press the 'Submit' button the bottom to finalize your changes. <img src='https://puu.sh/CcWoU/f53359b705.png'></p>
<p>The submitted changes will then be reflected in your profile page(See Figure 3 for updated profile). <figure><img src='https://puu.sh/CcWpU/26ce989b4f.png'><figcaption>Fig. 3</figcaption></figure></p>
</div>
</div>
{% endblock %}