<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/landingPage.css">
    <title>InternREQ</title>
</head>

<body>
    <div class="logoBar">
        <div class="logo">
            <a href="/"><img src="../static/logo.svg"></a>
        </div>
        <div class="backing"></div>
        <div class="regi">
            <div class="login"><a href="/login">Login</a></div>
            <span>Registration</span>
            <div class="faculty"><a href="/registration">Faculty</a></div>
            <div class="student"><a href="/registration">Student</a></div>
            <div class="employer"><a href="/registration">Employer</a></div>
        </div>
        <div class="bottomBar">
            <a href="#">About Us</a>
            <a href="#">Help</a>
            <a href="#" onclick="alert('There are none!')">Terms of Use</a>
            <a href="mailto:chris.conlon1993@gmail.com">Contact Us</a>
        </div>
    </div>
</body>

</html>