<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/login.css">
    <script src="../static/loggin.js"></script>
    <title>InternREQ Login</title>
</head>

<body>
    <div class="logoBar">
        <div class="logo">

        </div>
    </div>
    <div class="logger">
        <div><span><b>Sign In</b></span></div>
        <div><input id="user" type="text" placeholder="Username"></div>
        <div><input id="pass" type="password" placeholder="Password"></div>
        <!--USE THIS AS MODAL-->
        <div><a href="/"><button id="submit" value="landing()">Submit</button></a></div>
        <!--USE THIS AS MODAL-->
        <div><a href="#">Forgot Password</a></div>
        <div>New User? <a href="/"> Register Here</a></div>
    </div>

</body>

</html>