{% extends "template.html" %}

{% block title%}
{{title}}
{% endblock %}

{% block style %}
<style>
    span {
        background-color: lightgray;
    }
</style>
{% endblock %}

{% block content %}
<div class="content-section text-center jumbotron">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center">Login</legend>
            <hr>
            <div class="form-group">
                <b>{{ form.email.label(class="form-control-label mr-5") }}</b>
                {% if form.email.errors %}
                <b>{{ form.email(class="form-control-sm is-invalid") }}</b>
                <div class="invalid-feedback">
                    {% for error in form.email.errors%}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <b>{{ form.email(class="form-control-sm") }}</b>
                {% endif %}
            </div>
            <div class="form-group">
                <b>{{ form.password.label(class="form-control-label mr-4") }}</b>
                {% if form.password.errors %}
                <b>{{ form.password(class="form-control-sm is-invalid") }}</b>
                <div class="invalid-feedback">
                    {% for error in form.password.errors%}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <b>{{ form.password(class="form-control-sm") }}</b>
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class='btn btn-outline-info')}}
        </div>
    </form>
    <small calss="text-muted">
        Need to Register? <a class="ml-2" href="{{ url_for('registration') }}">Register Here</a>
    </small>
    <br>
    <small>
        Forgot Password? <a class="ml-2" href="#">Click Here</a>
    </small>
</div>
{% endblock %}