{% extends "template.html" %}

{% block title%}
{{title}}
{% endblock %}

{% block style %}
<style>
    body{
        background-color:lightgray;
    }
    #backing{
        background: #fff;
    }
    div{
        border-radius: 3%;
    }
    span{
        border-radius: 1%;
    }
    #temp{
        height: 350px;
        width: 370px;
        background-color: grey;
    }
</style>
{% endblock %}

{% block content %}
<!-- if there is a form Sponsor is creating a posting render this-->
{% if form %}
<div class="container h-90 w-90 pt-4 text-center mt-1" id="backing">
    <!--Do form stuff here-->
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center">Create a Posting</legend>
            <hr>
            <div class="form-group row">
                <b class="col-sm-3">{{ form.dateOfPost.label(class="form-control-label") }}</b>

                {% if form.dateOfPost.errors %}
                <b class="col-sm-3">{{ form.dateOfPost(class="form-control-sm is-invalid") }}</b>
                <div class="invalid-feedback">
                    {% for error in form.dateOfPost.errors%}
                    <span class="danger">{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <b class="col-lg-3">{{ form.dateOfPost(class="form-control-sm") }}</b>
                {% endif %}
                <div class="form-group align-right ml-5">
                    {{ form.submit(class='btn btn-outline-info')}}
                </div>
            </div>
            <div class="form-group row">
                <b class="col-sm-3">{{ form.exercise.label(class="form-control-label") }}</b>

                {% if form.exercise.errors %}
                <b class="col-sm-3">{{ form.exercise(class="form-control-sm is-invalid") }}</b>
                <div class="invalid-feedback">
                    {% for error in form.exercise.errors%}
                    <span class="danger">{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <b class="col-sm-3">{{ form.exercise(class="form-control-sm") }}</b>
                {% endif %}
            </div>
            <div class="form-group row">
                <b class="col-sm-3">{{ form.overview.label(class="form-control-label") }}</b>

                {% if form.overview.errors %}
                <b class="col-sm-3">{{ form.overview(class="form-control-sm is-invalid") }}</b>
                <div class="invalid-feedback">
                    {% for error in form.overview.errors%}
                    <span class="danger">{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <b class="col-md-3">{{ form.overview(class="form-control-lg") }}</b>
                {% endif %}
            </div>
            <div class="form-group row">
                <b class="col-sm-3">{{ form.current.label(class="form-control-label") }}</b>

                {% if form.current.errors %}
                <b class="col-sm-3">{{ form.current(class="form-control-sm is-invalid") }}</b>
                <div class="invalid-feedback">
                    {% for error in form.current.errors%}
                    <span class="danger">{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <b class="col-md-3">{{ form.current(class="form-control-lg") }}</b>
                {% endif %}
            </div>
            <div class="form-group row">
                <b class="col-sm-3">{{ form.goal.label(class="form-control-label") }}</b>

                {% if form.goal.errors %}
                <b class="col-sm-3">{{ form.goal(class="form-control-sm is-invalid") }}</b>
                <div class="invalid-feedback">
                    {% for error in form.goal.errors%}
                    <span class="danger">{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <b class="col-md-3">{{ form.goal(class="form-control-lg") }}</b>
                {% endif %}
            </div>
        </fieldset>
    </form>
</div>
{% else %}
<div class="container h-90 w-90 pt-3 mt-3" id="backing">
    <!--If no form then someone is looking at the posting render this-->
    <div class="pl-3 mt-2 row w-75">
        <span class="col-10" style="border:1px solid black">
            <br>
            <br>
            <h4>Overview:</h4>
            <hr>
            <p>{{postingInfo[2]}}</p>


        </span>
        <span class=col-2>
            <img id="temp" src="" alt=" Fake logo here">
            <br>
            <div class="mt-3" style="width: 370px; border:1px solid black">
                <p><strong>Date: </strong>{{postingInfo[0]}}</p>
                <p><strong>Exercise: </strong>{{postingInfo[1]}}</p>
                <p><strong>Current Weight Max: </strong>{{postingInfo[3]}}</p>
                <p><strong>Goal Weight Max: </strong>{{postingInfo[4]}}</p>
            </div>
        </span>
    </div>
</div>
<div>
    <pre>



    </pre>
</div>
{% endif %}

{% endblock %}