{% extends "template.html" %}

{% block title%}
{{title}}
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<!-- if there is a form Sponsor is creating a posting render this-->
{% if form %}
<div class="container align-center h-90 w-90 pt-4"></div>
<!--Do form stuff here-->
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-group text-center">
        <legend class="border-bottom mb-4 text-center">Job Posting</legend>
        <hr>
        <div class="form-group">
            <b>{{ form.title.label(class="form-control-label mr-2") }}</b>

            {% if form.title.errors %}
            <b>{{ form.title(class="form-control-sm is-invalid") }}</b>
            <div class="invalid-feedback">
                {% for error in form.title.errors%}
                <span class="danger">{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            <b>{{ form.title(class="form-control-sm") }}</b>
            {% endif %}
        </div>
    </fieldset>
    <div class="form-group text-center">
        {{ form.submit(class='btn btn-outline-info')}}
    </div>
</form>
</div>
{% else %}
<div>
    <!--If no form then someone is looking at the posting render this-->
    <span><button type="button" class="btn btn-primary mr-4">Apply Now</button>
        <p class="" style="display:inline">Posted {{datePosted}} day(s) ago</p>
        <button type="button" class="btn btn-primary float-right">Print</button>
    </span><br>
</div>
{% endif %}

{% endblock %}