<!DOCTYPE html>
<html lang="en">

<head>
    <title>InternREQ Registration</title>
    <link rel="stylesheet" href="../static/registration.css">
</head>

<body>
    <div class="registrationFrom">
        <form action="" method="POST" class="regiForm">
            <input name='firstName' type="text" placeholder="First Name" required>
            <input name='lastName' type="text" placeholder="Last Name" required>
            <label>Student <input type="radio" name="user" value="Student"></label>
            <label>Faculty: <input type="radio" name="user" value="Faculty"></label>
            <label>Employer: <input type="radio" name="user" value="Sponsor"></label>
            <input type="text" name="verificationKey" placeholder="Enter Your Verification Key" required>
            <input type="text" name="Email" placeholder="Enter Your Email Address" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="re-enter" placeholder="Retype Password" required>
            <button type="submit">Submit</button>
        </form>
    </div>
    <script>
        function escapeRegExp(str) {
            return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
        }
    </script>
</body>

</html>