{% extends "template.html" %}

{% block title%}
{{title}}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="../static/registration.css">
{% endblock %}

{% block content %}
<div class="registrationFrom">
    <form action="" method="POST" class="regiForm">
        <input name='firstName' type="text" placeholder="First Name" required id="start">
        <input name='lastName' type="text" placeholder="Last Name" required>
        <select name="User" id="user_type" onchange="javascript:getSelected()" required>
            <option value="">Select an Account Type</option>
            <option value="Student" id="2">Student</option>
            <option value="Faculty" id="1">Faculty</option>
            <option value="Sponsor" id="3">Sponsor</option>
        </select>
        <input type="text" name="verificationKey" placeholder="Enter Your Verification Key" id="vKey">
        <input type="text" name="Email" placeholder="Enter Your Email Address" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="re-enter" placeholder="Retype Password" required id="pas">
        <button type="submit">Submit</button>
    </form>
</div>

<!--Scripts here-->
<script>
    const key = document.getElementById('vKey')
    const intial = document.getElementById('start');

    key.style.display = 'none';
    intial.focus();

    function getSelected() {
        let user = document.getElementById("user_type").value

        switch (user) {
            case 'Student':
                key.style.display = 'none';
                key.required = false;
                break;
            case 'Faculty':
                key.style.display = 'block';
                key.required = true;
                break;
            case 'Sponsor':
                key.style.display = 'block';
                key.required = true;
                break;
            default:
                return;
        }
    }

    function escapeRegExp(str) {
        return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
    }

    window.onload = () => {
        const user = document.getElementById('user_type');
        let id = window.location.search[4];
        switch (id) {
            case ('1'):
                user.value = 'Faculty';
                break;
            case ('2'):
                user.value = 'Student';
                break;
            case ('3'):
                user.value = 'Sponsor';
                break;

        }
        getSelected();

    }
</script>

{% endblock %}