{% extends "template.html" %}

{% block title%}
{{title}}
{% endblock %}

{% block style %}
<style>
    span {
        background-color: rgba(247, 97, 97, 0.555);
    }
</style>
{% endblock %}

{% block content %}
<div class="content-section text-center jumbotron">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4 text-center">Registration</legend>
            <div class="form-group">
                <b>{{ form.first_name.label(class="form-control-label") }}</b>

                {% if form.first_name.errors %}
                <b>{{ form.first_name(class="form-control-sm is-invalid") }}</b>
                <div class="invalid-feedback">
                    {% for error in form.first_name.errors%}
                    <span class="danger">{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <b>{{ form.first_name(class="form-control-sm") }}</b>
                {% endif %}

            </div>
            <div class="form-group">
                <b>{{ form.last_name.label(class="form-control-label") }}</b>
                {% if form.last_name.errors %}
                <b>{{ form.last_name(class="form-control-sm is-invalid") }}</b>
                <div class="invalid-feedback">
                    {% for error in form.last_name.errors%}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <b>{{ form.last_name(class="form-control-sm") }}</b>
                {% endif %}
            </div>
            <div class="form-group">
                <b>{{ form.user_type.label(class="form-control-label mr-4") }}</b>
                {% if form.user_type.errors %}
                <b>{{ form.user_type(class="form-control-sm is-invalid") }}</b>
                <div class="invalid-feedback">
                    {% for error in form.user_type.errors%}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <b>{{ form.user_type(class="form-control-sm") }}</b>
                {% endif %}
            </div>
            <div class="form-group">
                <b>{{ form.v_key.label(class="form-control-label") }}</b>
                {% if form.v_key.errors %}
                <b>{{ form.v_key(class="form-control-sm is-invalid") }}</b>
                <div class="invalid-feedback">
                    {% for error in form.v_key.errors%}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <b>{{ form.v_key(class="form-control-sm") }}</b>
                {% endif %}
            </div>
            <div class="form-group">
                <b>{{ form.email.label(class="form-control-label") }}</b>
                {% if form.email.errors %}
                <b>{{ form.email(class="form-control-sm is-invalid") }}</b>
                <div class="invalid-feedback">
                    {% for error in form.email.errors%}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <b>{{ form.email(class="form-control-sm") }}</b>
                {% endif %}
            </div>
            <div class="form-group">
                <b>{{ form.password.label(class="form-control-label") }}</b>
                {% if form.password.errors %}
                <b>{{ form.password(class="form-control-sm is-invalid") }}</b>
                <div class="invalid-feedback">
                    {% for error in form.password.errors%}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <b>{{ form.password(class="form-control-sm") }}</b>
                {% endif %}
            </div>
            <div class="form-group">
                <b>{{ form.confirm.label(class="form-control-label") }}</b>
                {% if form.confirm.errors %}
                <b>{{ form.confirm(class="form-control-sm is-invalid") }}</b>
                <div class="invalid-feedback">
                    {% for error in form.confirm.errors%}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                <b>{{ form.confirm(class="form-control-sm") }}</b>
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class='btn btn-outline-info')}}
        </div>
    </form>
    <small calss="text-muted">
        Already Registered? <a calss="ml-2" href="{{ url_for('login') }}">Login Here</a>
    </small>
</div>

<!--Scripts here-->
<script>
    const key = document.getElementById('vKey')
    const intial = document.getElementById('start');

    key.style.display = 'none';
    intial.focus();

    function getSelected() {
        let user = document.getElementById("user_type").value

        switch (user) {
            case 'Student':
                key.style.display = 'none';
                key.required = false;
                break;
            case 'Faculty':
                key.style.display = 'block';
                key.required = true;
                break;
            case 'Sponsor':
                key.style.display = 'block';
                key.required = true;
                break;
            default:
                return;
        }
    }

    function escapeRegExp(str) {
        return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
    }

    window.onload = () => {
        const user = document.getElementById('user_type');
        let id = window.location.search[4];
        switch (id) {
            case ('1'):
                user.value = 'Faculty';
                break;
            case ('2'):
                user.value = 'Student';
                break;
            case ('3'):
                user.value = 'Sponsor';
                break;

        }
        getSelected();

    }
</script>

{% endblock %}